body {
	font-family: 'Roboto', sans-serif;
	background-color: #fff1c1;
}

.jumbotron {
	background-color: rgb(252, 154, 88);
}

.navbar {
	.navbar-toggler {
		border: none;
	}

	.navbar-brand {
		font-family: 'Pacifico', cursive;
	}

	.search-bar {
		border: none;
	}

	.nav-item {
		padding-right: 0.1rem;
	}
}

.card-title {
	font-family: 'Fredoka One', cursive;
}

.card {
	margin-top: 2rem;
	border-radius: .7rem;
	text-align: center;

	img {
		max-height: 300px;
		max-width: 300px;
		border-top-left-radius: .7rem;
		border-top-right-radius: .7rem;
	}
}

.cardOpen {
	margin-top: 2rem;
	border-radius: .7rem;
	text-align: center;

	img {
		max-height: auto;
		max-width: auto;
	}
}

.footFix {
	min-height: 350px;
}

#footer {
	background-color: #212121;

	.navbar-brand {
		font-family: 'Pacifico', cursive;
	}
}

h1 {
	font-family: 'Fredoka One', cursive;
}

.about {
	font-family: 'Fredoka One', cursive;
}

@media (max-width: 767px) {
	.navbar {
		.navbar-brand {
			font-size: 0.1rem;
		}
	}

	#header {
		h1 {
			font-size: 2rem;
			margin-top: 0;
		}
	}

	.fix {
		padding-left: 6rem;
	}

	.cardOpen {
		img {
			max-height: 300px;
			max-width: 300px;
		}
	}
}
