<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <script src="https://kit.fontawesome.com/9e19fba627.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Pacifico|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    
    <!-- nav -->
    <nav class="navbar navbar-dark bg-primary px-4 ">

        <a class="navbar-brand pl-2" href="#"><h3>Paper Forest</h3></a>


        <div class="" id="mainNavbar">
          <ul class="navbar-nav ml-auto ">
            <li class="nav-item active ">
              <a class="nav-link" href="#"><h3 class="about">About</h3><span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>

    </nav>

    <!-- content -->
    <section class="container py-5">
        <p class="para lead text-black-50">
            This project is created by 
        </p>
        <p class="lead text-black-50">
            <ul>                
                <li>1) Omkar Jadhav </li>
                <li>2) Anish Patil</li>
                <li>3) Dev Sahoo</li>
                <li>4) Quis Nadkar</li>
            </ul>
        </p>
    </section>

        <!--Footer-->
    <section id="footer">
        <div class="container text-center text-white mb-0 py-3 mt-5">
          <a class="navbar-brand text-white pb-3" href="#"><h4>Paper Forest</h4></a>
          <p>
              <i class="fab fa-twitter-square px-2 "></i>
              <i class="fab fa-instagram px-2"></i>
              <i class="fab fa-facebook-square px-2"></i>
          </p>
          <p>© Copyright 2019 PaperForest</p>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</nav>
</body>
</html>